
.btn-own{
    margin: 15px;
    color: white;
    background-color: #F4C3D8;
    border: none;
}

.card{
    margin: 10px;
    color: #1C5F93;
}
.card-header-own{
    background-color: #7CACEA;
    height: 120px;
    text-align: center;
    border: none;
    padding: 1.7rem 0;
    font-size: 30px;
    color: white;
    
    
}

form{
    padding: 1rem;
}


.text-uppercase-own{
    text-transform: uppercase;
    font-size: 12px;
    color: white;
}

