<div class="card" *ngIf="!Me">
<div class="card-header">
    <div class="text-uppercase title">Welcome to Fitness Tracker</div>
</div>

<div class="text-uppercase black">New to Here?</div>
<div class="font-margin">
    Please Sign Up
</div>  
<div class="login-form" >
    <input #Name /><button class="btn" (click)="newUser(Name.value)" >Sign Up</button>
</div>


<div class ="text-uppercase black">
    Already a user? 
</div>
<div class="font-margin">
    Please Sign In
    </div> 
<div class="login-form" >
    <input #Name2 /><button class="btn" (click)="login(Name2.value)" >Sign In</button>
</div>

</div> 

