<div class="d-flex justify-content-center">
    <div class="card">
        <div class="card-header">
            <div class="text-uppercase title">Please Sign In</div>
        </div>
        <div class ="text-uppercase black">
            Already a user? 
        </div>
        <div class="font-margin">
            Please Sign In
            </div> 
        <div class="login-form" >
            <input #Name2 type ="text" placeholder ="User Name"/><br/>
            <input #Password2 type ="text" placeholder ="Password" />


        </div>
        <div class="btn-margin">
            <button class="btn" (click)="login(Name2.value, Password2.value)" >Sign In</button>
        </div>

    </div>
</div>