


<nav class="navbar navbar-expand-md bg-color navbar-dark ">
        <a class="navbar-brand" routerLink = "/fit">Fitness Tracker</a>
        <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home" routerLinkActive="active">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/editProfile" routerLinkActive="active">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/fit" routerLinkActive="active">Fitness</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/history" routerLinkActive="active">History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/share" routerLinkActive="active">Share</a>
            </li>
          </ul>
          <button class="btn btn-sm nav-item justify-content:between"><a class="nav-link" routerLink="/sign-up" routerLinkActive="active">Sign up</a></button>
          <button class="btn btn-sm nav-item justify-content:between"><a class="nav-link" routerLink="/login" routerLinkActive="active">Sign in</a></button>
        </div>
    </nav>