<div class="row justify-content-md-center">

</div><!-- row -->

<div class="row justify-content-md-center">
<!-- Choose a user to share workout log-->
  <div class="col-md-4">
    <div class="card" >
      <div class="card-header heightAdjust">
        <div class="text-uppercase">Other Users</div>
        <div class="subtitle"> Send a Friend Request to Other Users!</div>
      </div> <!-- card header -->
      <div class="card-body">
        <ul class="list-group-item list-group-flush list" *ngFor =" let users of Me.EachShare">
          <div class="row justify-content-md-center">
            <div class="col">
              <li  >{{users.Name}} </li>
            </div>
            <div class="col">
              <button class="btn btn-color btn-sm d-flex justify-content-end" (click) = "friendRequest($event, users.Name)" > Request </button>
            </div>
          </div>  
        </ul>
      </div> <!-- card-body -->
    </div> <!-- card -->
  </div><!-- col -->
<!-- Choose a user to share workout log-->

<!-- Received Friend Requests-->
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        <div class="text-uppercase">Friend Request</div>
        <div class="subtitle"> You've Got Friend Requests!</div>
      </div>
      <div class="card-body">
        <button class="btn btn-color" disabled *ngIf="!Me.Requested">No Friend Request</button>
        <button class="btn btn-warning"  *ngIf="Me.Requested" (click)="requestBox($event, friend.Friend)">You Have a Friend Request</button>
        <ul class="list-group-item list-group-flush list" *ngFor = "let friend of _Fit.Me.Notice">
          <div class = "row justify-content-md-center">
            <div class="col">
              <li > {{friend.Friend}} </li>
            </div>
            <div class="col">
              <button class="btn btn-sm d-flex justify-content-end btn-warning"  (click) = "requestBox($event, friend.Friend)"> Confirm </button>

            </div>

            
          </div>
        </ul>
      </div>
    </div>
  </div>

<!-- Friends List-->
  <div class="col-md-4">
    <div class="card" >
      <div class="card-header">
        <div class="text-uppercase">
          Friends List
        </div>
      </div> <!-- card header -->
      <div class="card-body">
        <ul class="list-group-item list-group-flush list" *ngFor = "let friend of Me.FriendList">
          <div class = "row justify-content-md-center">
            <div class="col">
              <li > {{friend.Name}} </li>
            </div>
            <div class="col">
              <button class="btn btn-sm d-flex justify-content-end btn-color" (click) = "friendHistory($event, friend.Name)"> Display </button>
            </div>
           
          </div>
        </ul>
      </div> <!-- card body-->
    </div> <!-- card -->
  </div> <!-- col -->
<!-- Friends List-->

</div><!-- row -->

<div class="row-md-3">
    <div class="card" >
        <div class="card-header">
          Other user's Workout Achievement
        </div> <!-- card header-->
        <div class="card-body" >
          <form>
              <div class="form-group">
                  <select multiple class="form-control" id="exampleFormControlSelect2" >
                  <option *ngFor="let friend of _Fit.Me.Record">
                      {{friend.KeyDate}}
                  </option>
                  </select>
              </div>
          </form>
        </div> <!-- card body -->
        
    </div>  <!-- card -->
  </div> <!-- row -->


