ul{
    list-style-type: none;
    margin: 10px;
}

.card{
    margin: 10px;
    color: #1C5F93;
}
.card-header{
    background-color: #7CACEA;
    text-align: center;
    border: none;
    padding: 1.7rem 0;
    font-size: 30px;
    color: white;
}
.btn{
    margin-top: 2px;
    margin-bottom: 5px;
    
}
.btn-color{
    background-color: #F4C3D8;
    border: none;
    color: white;
}
.subtitle{
    font-size: 15px;
    margin: 1px;
    margin-bottom: 10px;
    font-weight: 300;
    padding: 0.2rem;
    
}