.login-form{
    margin: 10px;
}

.btn{
    margin: 5px;
    color: white;
}

ul{
    list-style-type: none;
    margin: 10px;
}

.card{
    margin: 10px;
    color: #1C5F93;
}
.card-header{
    background-color: #7CACEA;
    height: 120px;
    text-align: center;
    border: none;
    padding: 1.7rem 0;
    font-size: 30px;
    color: white;
    
    
}
.textWrap{
    height: 150px;
   padding: 1.2rem;
}
form{
    padding: 1rem;
}


.btn{
    background-color: #F4C3D8;
    border: none;
}
.subtitle{
    font-size: 15px;
    margin: 1px;
    font-weight: 300;
    
}

.text-uppercase{
    font-size: 12px;
    color: white;
}

.title{
    font-size: 20px;
    padding: 0.4rem 0rem;
}

.black{
    margin-top: 10px;
    margin-bottom: 2px;
    margin-left: 10px;
    color: #7CACEA;
}
.selected{
    background-color:#FBE9C1;
}
.font-margin{
    margin-bottom: 5px;
    margin-left: 10px;
}