<!-- would it be possible to use ngfor to load all the articles in each card? and refesh a new one?-->

<div class ="row">
    <div class = "col-md-4">
      <div class="card">
        <div class="card-header">
          <p class="level">Any Fitness Level</p>
          <h3>Get Flat Abs Fast</h3>
        </div>
        <img class="card-img" src="https://www.fitnessmagazine.com/sites/fitnessmagazine.com/files/styles/slide/public/slide/101308838.jpg?itok=aPfIwUWf" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Want to rid yourself of belly flab and get bikini-ready abs once and for all? Try these abs exercises and get the sexy stomach you've been dreaming about, no matter what your fitness level.</p>
          <a href="https://www.fitnessmagazine.com/workout/abs/express/flat-abs-fast-at-any-fitness-level/" class="btn btn btn-outline-info" target="_blank">Go to Article</a>
        </div>
      </div>
    </div><!--Col-->
    <div class = "col-md-4">
      <div class="card">
        <img class="card-img" src="https://static01.nyt.com/images/2018/02/11/realestate/11dogs-topbreeds-Chihuahua/11dogs-topbreeds-Chihuahua-master495.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn btn-outline-info">Go somewhere</a>
        </div>
      </div>
    </div><!--Col-->
    <div class = "col-md-4">
      <div class="card">
        <img class="card-img" src="https://static01.nyt.com/images/2018/02/11/realestate/11dogs-topbreeds-Chihuahua/11dogs-topbreeds-Chihuahua-master495.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn btn-outline-info">Go somewhere</a>
        </div>
      </div>
    </div><!--Col-->
    <div class = "col-md-4">
      <div class="card">
        <img class="card-img" src="https://static01.nyt.com/images/2018/02/11/realestate/11dogs-topbreeds-Chihuahua/11dogs-topbreeds-Chihuahua-master495.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn btn-outline-info">Go somewhere</a>
        </div>
      </div>
    </div><!--Col-->
    <div class = "col-md-4">
      <div class="card">
        <img class="card-img" src="https://static01.nyt.com/images/2018/02/11/realestate/11dogs-topbreeds-Chihuahua/11dogs-topbreeds-Chihuahua-master495.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn btn-outline-info">Go somewhere</a>
        </div>
      </div>
    </div><!--Col-->
    <div class = "col-md-4">
      <div class="card">
        <img class="card-img" src="https://static01.nyt.com/images/2018/02/11/realestate/11dogs-topbreeds-Chihuahua/11dogs-topbreeds-Chihuahua-master495.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn btn-outline-info">Go somewhere</a>
        </div>
      </div>
    </div><!--Col-->
    
    
      
  </div><!--Row-->
  