ul{
    list-style-type: none;
    margin: 10px;
}

.card{
    margin: 10px;
    color: #1C5F93;
}
.card-header-own{
    background-color: #7CACEA;
    text-align: center;
    border: none;
    padding: 1.7rem 0;
    font-size: 30px;
    color: white;
}

form{
    padding: 1rem;
}


.subtitle{
    font-size: 15px;
    margin: 1px;
    margin-bottom: 3px;
    font-weight: 300;
    padding: 0.2rem;
    
}


.list-group-item-success{
    background-color:#FBE9C1;
}


.badge{
    margin-left: 5px;
}
.display-none{
    display: none;
}
.today{
    color: white;
    font-size: 15px;
}