<!-- For First User, this user will be the person who tracks the workout-->
<div class="card" *ngIf="!Me">
    <div class="card-header">Please Sign In</div>
    <!-- Sign Up Form-->
    <div class="login-form" >
        <input #Name /><button class="btn btn-primary" (click)="login(Name.value)" >Sign In</button>
    </div>

</div> <!-- Log in Form Ends-->

<!-- 
<div class="card" *ngIf="Me">
    <div class="card-header">Please Sign In</div>
    
    <div class="login-form" >
        <input #user /><button class="btn btn-primary" (click)="differentUser(user.value)" >Sign In</button>
    </div>

</div>  -->

<div class="card" *ngIf= " signIn && !finishProfile">
    <div class="card-header">
    <div class="text-uppercase">Please Create Your Profile Before Tracking Your Workout!</div> 
    Create Profile
    </div>
    <form>
        <div class="form-row">
    
        <div class="form-group col-md-4">
            <label for="inputName">Name</label>
            <input #name type="text" class="form-control" id="inputName" [value]="logInName">
        </div>
    
        <div class="form-group col-md-4">
            <label for="inputAge">Age</label>
            <input #age type="number" class="form-control" id="inputAge" placeholder="Age" >
        </div>
        </div>
    
        <div class="form-group">
            <label for="inputHeight">Height</label>
            <input #height type="number" class="form-control" id="inputHeight" placeholder="cm">
        </div>

        <div class="form-group">
            <label for="inputWeight">Weight</label>
            <input #weight type="number" class="form-control" id="inputWeight" placeholder="kg">
        </div>
    
        <div class="form-group">
            <label for="inputGoalWeight">Goal Weight</label>
            <input #goalWeight type="number" class="form-control" id="inputGoalWeight" placeholder="kg">
        </div>
        </form>
    <div>
        <button class="btn btn-primary btn-sm" (click)="profileAdd(age.value, weight.value, height.value, goalWeight.value)">Save</button>
    </div> 
</div> <!-- Profile Form ends-->




<div class="row justify-content-md-center" *ngIf = "finishProfile">
    <!-- Saved Profile display-->
    <div class="col">
        <div class="card tracking" >
            <div class="card-header">
            {{Me.Name}} Profile
            </div>
            <ul class="list-group list-group-flush list" *ngFor="let profile of Model.Profile">
            <!-- **ngfor: display profile here** -->
                <li>Name: {{Me.Name}}</li>
                <li>Age: {{profile.Age}}</li>
                <li>Weight: {{profile.Weight}}</li>
                <li>BMI: {{profile.BMI}}</li>
                <li>Goal Weight: {{profile.GoalWeight}}</li>
                <li>Goal BMI: {{profile.GoalBMI}}</li>
                
            </ul>
        </div> <!-- Saved Profile display ends-->
    </div>

    <!-- who do you want to share?-->
    <div class="col">
        <div class="card tracking" >
            <div class="card-header">
            User List
            </div>
            <ul class="list-group list-group-flush list">
                <li>UserName:
                    <button 
                    class="btn btn-sm btn-warning">
                        Share
                    </button>
                </li>

            </ul>
        </div> 
    </div>

    <!-- You're sharing with.. -->
    <div class="col">
        <div class="card tracking" >
            <div class="card-header">
            (User's) Workout Achievement
            </div>
            <ul class="list-group list-group-flush list">
                <li>UserName:</li>

            </ul>
        </div> 
    </div>

</div>


<div class="row justify-content-md-center" *ngIf="finishProfile">
    <div class="col  mb-3">
        
        <div class="card" >
            <div class="card-header">Workout List </div>
            <form>
                <div class="form-group">
                  <select multiple class="form-control" id="exampleFormControlSelect2" >
                    <option *ngFor="let list of GetExercise.List"  (click)="submitWorkout($event, list)">
                        {{list}}
                    </option>
                  </select>
                </div>
              </form>
  
          </div>
    </div>
</div>
<div class="row" *ngIf="finishProfile">
    <div class="col-md-6">
        <div class="card mb-3" >
            <div class="card-header">
                <div class="title">Workout Plan</div> 
                <div class="subtitle">Choose Completed Workout</div>
                <div class="text-uppercase">Each workout corresponds to 3 minutes workout time</div> 
            </div>
                <ul class="list-group list-group-flush ">
                    <li *ngFor="let list of Model.PlanExercise"
                        [ngClass]="{ 'selected': list.Chosen }"
                        class="list-group-item d-flex justify-content-between align-items-center ">
                        {{list.Text}}
                        <button (click)="doneExercise($event, list)"
                                class="btn btn-sm btn-primary">
                                Done
                        </button>
                    </li>
                </ul>
            </div>
            
    </div>




<!-- if profile is saved and disappear, display plan to choose-->
    <div class="col-md-6">
        <!-- Exercise Plan-->
        <div class="card tracking" *ngIf="finishProfile">
            <div class="card-header">
            You achieved..
            </div>
            <ul class="list-group list-group-flush ">
                <li *ngFor= "let choice of Model.DoneExerciseList" (click)="submitWorkout($event, choice.Text)"
                    class="list-group-item d-flex justify-content-between align-items-center ">
                    {{choice.Text}}
                    <i *ngFor= "let time of Model.DoneExerciseList" class="badge float-right" class ="badge-info">
                        {{time.WorkoutMinute}}
                    </i>
                </li>
            </ul>
            <div class="card-body">
                <i *ngFor= "let time of Model.Person">
                    Your Total Workout Time: {{time.TotalWorkout}} minutes
                </i>
            </div>
        </div><!-- Exercise Plan end-->
    </div>
</div><!-- row end -->



