#messages {
    padding-top: 0.5rem;
    padding-left: 0.2rem;
    
}

.button {
    margin-left: 5px;
    color: #1C5F93;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    color: black;
    cursor: pointer;
}

.alert{
    padding: 10px;
    border: 2px solid #CFD5E1;
    color: #1C5F93;
    margin-bottom: 15px;
}

.msg{
    list-style-type: none;
    padding-top: 0.2rem;
    padding-left: 0.2rem;
    padding-bottom: 0.2rem;
}

h3{
    text-align: center;
}