<!-- Profile Form -->
<!--ngif: if profile is done, disappear-->
<div class="card">
  <form>
    <div class="form-row">

      <div class="form-group col-md-4">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Name">
      </div>

      <div class="form-group col-md-4">
        <label for="inputAge">Age</label>
        <input type="number" class="form-control" id="inputAge" placeholder="Age">
      </div>
    </div>

      <div class="form-group">
        <label for="inputWeight">Weight</label>
        <input type="number" class="form-control" id="inputWeight" placeholder="kg">
      </div>

      <div class="form-group">
        <label for="inputHeight">Height</label>
        <input type="number" class="form-control" id="inputHeight" placeholder="cm">
      </div>

      <div class="form-group">
        <label for="inputGoalWeight">Goal Weight</label>
        <input type="number" class="form-control" id="inputGoalWeight" placeholder="kg">
      </div>
    
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div> <!-- Profile Form ends-->

<!-- ngif: if profile is saved, display new card-->

<!-- Saved Profile display-->
<div class="card">
  <div class="card-header">
    Your Profile
  </div>
  <ul class="list-group list-group-flush">
    <!-- ngfor: display profile here-->
  </ul>

</div> <!-- Saved Profile display ends-->

<!-- ngif: if profile is saved and disappear, display plan-->
<!-- Exercise Plan-->
<div class="card">
  <div class="card-header">
    Your Workout Plan
  </div>
  <ul class="list-group list-group-flush">
    <!-- ngfor: display plan here-->
  </ul>

</div><!-- Exercise Plan end-->
<div class="center">
  <button class="add-button">Add Plan</button>
</div>