<!--Need to find health info database api-->
<!-- <div class="card">
    <img class="card-img-top card-img-bottom" *ngIf="Model.HealthInfo" [src]="Model.HealthInfo.url" /> 
    <div class = "card-img-overlay" style="text-align: center">
      <button class="btn btn-success btn-lg" (click)="getHealthInfo($event)">
              Get Health Information
      </button>
    </div>
</div> 
 -->

<div class="jumbotron">
  <h1 class=" d-flex justify-content-center display-4">Welcome to Fitness Tracker!</h1>
  <div class="d-flex justify-content-center">
    <p class="lead">This is a simple fitness tracker app. You can use it as if it's your workout journal! </p>
  </div>
  <div class="d-flex justify-content-center">
    <p class="lead">You can record your date and workout lists to be proud of your awesome achievement!</p>
  </div>
  <hr class="my-4">
  <img src="https://images.pexels.com/photos/864990/pexels-photo-864990.jpeg?cs=srgb&dl=active-adult-aerobic-864990.jpg&fm=jpg" 
      class = "center-img">
  <span class="d-flex justify-content-center">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  </span>
  <span class="d-flex justify-content-center">
    <a class="btn btn-primary btn-lg" href="/sign-up" role="button">Get Started</a>
  </span>
</div>