<div class="card" *ngIf = "!hide">
  <div *ngIf="!hideSignIn">
    <p>Are you already signed up?</p>
    <button (click) = "hasId()">Sign In Here</button>
  </div>

  <div *ngIf= "alreadyUser && !hide">
    <!-- Login Form-->
    <div>
      <input #Name placeholder="User Name" /><button (click)="isLogin(Name.value)"> Login</button>
    </div>
    <button class="btn btn-primary">Back</button> <!-- ? How to go back to previous?-->
    <!-- ** need to bind login property **-->
  </div> <!-- Log in Form Ends-->

  <div *ngIf="!hideSignIn">
    <!-- Profile Form -->
    <!--if profile is saved, disappear-->
    <p>Are you a new user?</p>
    <button (click) = "saveProfile()">
      Create New Profile
    </button>
  </div>
</div><!-- Sign in form ends-->

<div class="card" *ngIf= "signUp && !hideSignUpForm">
<div class="card-header">
 Create Your Profile
</div>
  <form>
    <div class="form-row">

      <div class="form-group col-md-4">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Name">
      </div>

      <div class="form-group col-md-4">
        <label for="inputAge">Age</label>
        <input type="number" class="form-control" id="inputAge" placeholder="Age">
      </div>
    </div>

      <div class="form-group">
        <label for="inputWeight">Weight</label>
        <input type="number" class="form-control" id="inputWeight" placeholder="kg">
      </div>

      <div class="form-group">
        <label for="inputHeight">Height</label>
        <input type="number" class="form-control" id="inputHeight" placeholder="cm">
      </div>

      <div class="form-group">
        <label for="inputGoalWeight">Goal Weight</label>
        <input type="number" class="form-control" id="inputGoalWeight" placeholder="kg">
      </div>
    

  </form>
  <div>
    <button class="btn btn-primary btn-sm" (click)="doneProfile()">Save</button>
    <button class="btn btn-primary btn-sm">Sign in</button>
   <!--??--> <p class="already">already a user?</p>
  </div>

</div> <!-- Profile Form ends-->

<!-- if profile is saved, display Workout Plan-->

<!-- Saved Profile display-->
<div class="card" *ngIf = "finishProfile || login">
  <div class="card-header">
    Your Profile
  </div>
  <ul class="list-group list-group-flush">
    <!-- **ngfor: display profile here** -->
  </ul>

</div> <!-- Saved Profile display ends-->

<!-- if profile is saved and disappear, display plan to choose-->
<!-- Exercise Plan-->
<div class="card" *ngIf="finishProfile || login">
  <div class="card-header">
    Choose your Workout
  </div>

  <ul class="list-group list-group-flush">
    <form>
      <div class="form-group">
        <select multiple class="form-control" id="exampleFormControlSelect2" >
          <option *ngFor= "let list of Model.ExerciseList" (click)="addPlan($event, list)">{{list}}</option>
        </select>
      </div>
    </form>
   
  </ul>

</div><!-- Exercise Plan end-->

<!-- Exercise Info-->
<div class ="card" *ngIf = "planAdded">
  <div class="card-header">
    Today you achieved
  </div>
  <!-- ** Added Plan Display Here-->
  <ul class="list-group list-group-flush">
      <li *ngFor="let list of Model.Track" class="list-group-item" > <!-- if in ngClass MyPlayedQuote is enabled, execute not-allowed pointer -->
          {{list}}
      </li>
    </ul>

</div>


<!--
<div class="center">
    <button class="add-button" >Track</button>
  </div> -->